<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	姓名：<input type="text" name="user" id="user"><br>
	密码：<input type="text" name="psd" id="psd"><br>
	手机号：<input type="text" name="phon" id="phon"><br>
	性别：<input type="radio" name="sex" name="sex" value="男" id="sex">男
		<input type="radio" name="sex" name="sex" value="女" id="sex">女<br>
	<input type="button" value="提交" onclick="qw()">
</body>
</html>
<script src="/jquery.js"></script>
<script>

	function qw(){
		var user=$("#user").val();
		var psd=$("#psd").val();
		var phon=$("#phon").val();
		var sex=$("#sex").val();
		$.ajax({
			type:"post",
			url:"http://www.cdd.com/xr/fdd/add",
			data:{
				user:user,
				psd:psd,
				phon:phon,
				sex:sex
			},
			dataType:'json',
			success:function(a){
				console.log(a);
				if(a['code']==1){
					alert("添加成功");
					window.location.href="http://www.cdd.com/xr/fdd/bdd";
				}else{
					alert("添加失败");
				}
			}
		})
	}

</script>