<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div >
		
		<table border="1px" cellpadding="0" id="app">
			<th>id</th>
			<th>账号</th>
			<th>密码</th>
			<th>手机号</th>
			<th>性别</th>
			<th>操作</th>
				<tr v-for="v in info">
					<td>{{v.id}}</td>
					<td>{{v.user}}</td>
					<td>{{v.psd}}</td>
					<td>{{v.phon}}</td>
					<td>{{v.sex}}</td>
					<td><a href="">删除</a></td>

				</tr>
		</table>

	</div>
	<script src="/jquery.js"></script>
	<script src="/vue.js"></script>
	<script>
	var siguojin=new Vue({
                          el:"#app",
                          data:{
                            info:{}
                          },
		created:function(){
                            this.wei();
                          },
		     methods:{
		     	wei:function(){
		     		var that=this;
		     		$.ajax({
		     			type:"post",
		     			url:"http://www.cdd.com/xr/fdd/cdd",
		     			dataType:"json",
		     			success:function(a){
		     				console.log(a);
		     				that.info=a;
		     			}
		     		})

		     	}
		     }


	})

	</script>
</body>
</html>