<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="{:url('Dbdata/create')}" method="post" >
	<table border="1px" cellspacing="0" >
		姓名：<input type="text" name="users"><br>
			<input type="text" name="age"><br>
			<input type="text" name="phuo"><br>
			<input type="text" name="names"><br>
			<input type="text" name="dss"><br>
			<input type="text" name="bss"><br>
			<input type="text" name="ass"><br>
		<button>提交</button>

	</table>
	

	</form>
	
</body>
</html>